* {
    box-sizing: border-box;
}

.movieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    flex: 1; 
}

.navbar-container {
    margin-left: 20px; 
}

.columns {
    display: flex;
    margin: 0 auto;
}

/*------------------------------------------------------------------------------------------*/

.profile-page {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    border-radius: 20px;
}